.container-layout {
display: flex;
padding: 60px;
gap: 200px;
height: 100%;
width: 100%;
background-color: #3B3A35; 
}

.column-left{
 flex: 1;   
 display: flex;
 width: fit-content;
}

.column-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    gap: 40px;
    height: 100%;
}

.text-icons{
display: flex;    
flex-direction: row;
gap: 20px;
justify-content: center;
margin: 0%;
}

.aboutmecard{
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 295px; 
    gap: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    background-color: #DDDBD3;
}

.projects{
    display: flex;
    flex-direction: column;
    width: 688px;
    height: fit-content;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
    background-color: #DDDBD3;
    margin: 0px;
}

.aboutme{
    display: flex;
    flex-direction: column;
    width: 688px;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background-color: #DDDBD3;
    margin: 0px;
}

.contactme{
    display: flex;
    flex-direction: column;
    width: 688px;
    height: fit-content;
    padding: 20px;
    border-radius: 15px;
    background-color: #DDDBD3;
    margin: 0px;
}

body{
    font-family: rubik;
    font-weight: 300;
    margin: 0px;
}

p{
    font-size: 12px;
    color: #3B3A35;
    margin: 5px;
}

h1{
    color: #3B3A35;
    
}

h6{
    color: #3B3A35;
    font-weight: 400;
}

.about-text{
    font-weight: 400;
    margin: 0%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.comingsoon-text{
    color: #83827D;
}

.profile-pic{
    width: 150px;
    height: 150px;
}

.profile-name{
    line-height: 43px;
    margin: 0%;
}

.country-name{
    margin: 0%;
}

.money-amount{
    margin: 0%;
}

.aboutme-h1{
    text-align: center;
    margin: 0%;
}

.project-h1{
    margin: 0%;
}

.contactme-h1{
    text-align: center;
    margin: 0%;
}

.location-icon{
    width: 15px;
    height: 15px;
    color: #3B3A35;
}

.money-icon{
    width: 15px;
    height: 15px;
    color: #3B3A35;
}

.text-icon1{
    display: flex;
    gap: 0px;
}

.text-icon2{
    display: flex;
    gap: 2px;
    align-items: center;
}

.socialmedia-icons{
    display: flex;
    gap: 10px;
}

.socialmedia-icons2{
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.instagram-social-icon{
    width: 15px;
    height: 15px;
    fill: #3B3A35;
}

.x-social-icon{
    width: 15px;
    height: 15px;
    fill: #3B3A35;
}

.sociallinkedin-icon{
    width: 15px;
    height: 15px;
    fill: #3B3A35;
}

.github-icon{
    width: 15px;
    height: 15px;
    fill: #3B3A35;
}

.clock-icon{
    color: #bababa;
    margin: 0%;
    width: 100px;
    height: 100px;
}
.comingsoon-text{
    position: absolute;
    top: 135px;  
    width: 150px;
    line-height: 25px;
    left: 986px;
}